[Unit]
Description=Check for Raspberry Pi EEPROM updates
After=boot.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/rpi-eeprom-update -s -a

[Install]
WantedBy=multi-user.target
